* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: #fffafa;
  --bg-dark: #ebf5c2;

  font-size: 62.5%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background-color: #ebf5c2;
  font-size: 1.6rem;
}

header {
  padding: 0.5rem 0;
  background-color: var(--bg-dark);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  clip-path: circle();
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  color: #ff0a00;
}

main .container {
  padding: 4rem 4rem 0;
  min-height: 100vh;
}

#services-container .service-options {
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.service-options h1 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: #333344;
}

.service-info-box {
  display: flex;
}

.service-info-box .img-box {
  flex: 1;
}

.service-info-box .img-box img {
  width: 100%;
  object-fit: cover;
}

.service-info {
  padding: 4rem;
  background-color: #ff0a00;
  color: #fffafa;
  width: 45rem;
  border-bottom: 4px solid #ebf5c2;
}

.service-info ul {
  height: 100%;
  list-style-type: none;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.service-info ul li {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

footer {
  margin-block: 4rem;
}

footer p {
  text-align: center;
  font-size: 2rem;
  color: #333344;
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 2rem;
  }

  header .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1470px) {
  .service-info-box {
    flex-direction: column;
    gap: 4rem;
  }

  .service-info {
    width: 100%;
  }
}
