* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: rgba(247, 247, 247, 1);
  --bg-dark: linear-gradient(135deg,rgba(172, 172, 172, 1) 0%, rgba(247, 247, 247, 1) 100%);  

  font-size: 62.5%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background-color: rgba(247, 247, 247, 1);
  font-size: 1.6rem;
}

header {
  padding: 0.5rem 0;
  background-color: var(--bg-dark);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  clip-path: circle();
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  color: #5c0c19;
}

main .container {
  padding: 4rem 4rem 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  gap: 4rem;
}

.gallery h1 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: #333344;
}

.gallery .gallery-box {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: #5c0c19 transparent;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.5rem;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

footer {
  padding: 4rem;
}

footer p {
  text-align: center;
  font-size: 2rem;
  color: #333344;
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    gap: 2rem;
  }

  .gallery .gallery-box {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 2rem;
  }

  header .container {
    flex-direction: column;
  }

  .gallery h1 {
    font-size: 3rem;
  }

  .gallery .gallery-box {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .gallery .gallery-box {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
